@use '../variables';

.button {
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 26px;
    cursor: pointer;
    transition: .4s;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$yellow;
        border: 2px solid variables.$yellow;

        &:hover {
            background-color: variables.$textColor;
            color: variables.$yellow;
            border: 2px solid variables.$yellow;
        }
    }

    @media (max-width: 640px) {
        display: block;
        width: 40%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}